.Login {
    margin: 10%;
    margin-top: -5% !important;
}

.isotipoSodimac {
    width: 30%;
    margin: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40%;
    margin-bottom: 5%;
}

.titleLogin {
    display: inline;
    position: static;
    margin-bottom: 10%;
    margin-top: 60%;
    margin-left: -15%;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    text-align: center;
    font-size: 130% !important;
    font-weight: bold !important;
}

button.btnLogin {
    margin: 2%;
    background-color: #2363B2;
    color: white;
    border-radius: 20px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    padding: 10px;
    outline: none;
    margin-top: 10%;
    width: -webkit-fill-available;
}

button.btnSignIn {
    margin: 2%;
    background-color: rgb(151, 151, 151);
    color: white;
    border-radius: 20px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    padding: 10px;
    outline: none;
    width: -webkit-fill-available;
}

input {
    width: -webkit-fill-available;
    margin: 3% !important;
    border:none;
    border-bottom:1px solid #888;
    margin-top: 5% !important;
}

.passwordLink {
    text-align: center;
    margin-top: 5%;
}

.omitirLink {
    text-align: center;
    margin-top: 45%;
}