

.Login {
    display: contents;
}

.titleLogin {
    position: static;
    margin-bottom: 10%;
    margin-top: 60%;
    margin-left: -15%;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    color: #2363B2;
    text-align: center;
    margin-left: 10%;
    -webkit-text-stroke-width: thin;
}

button.btnLogin {
    margin: 2%;
    background-color: #2363B2;
    color: white;
    border-radius: 20px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    padding: 10px;
    outline: none;
    margin-top: 10%;
    width: -webkit-fill-available;
}

button.btnSignIn {
    margin: 2%;
    background-color: rgb(151, 151, 151);
    color: white;
    border-radius: 20px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    padding: 10px;
    outline: none;
    width: -webkit-fill-available;
}

input {
    width: -webkit-fill-available;
}

.passwordLink {
    text-align: center;
}

.omitirLink {
    text-align: center;
    margin-top: 45%;
}